@model TSD2491_oblig1_259310.Models.MatchinggameModel

@{
    ViewData["Title"] = "Home Page";
}

 <style>
        .container {
            width: 400px;
        }

        button {
            width: 100px;
            height: 100px;
            font-size: 50px;
        }
 </style>

 
<div class="text-center">
    <h1 class="display-4">TSD2491 – Oblig1</h1>
</div>
<div class="container">
        <div class="row">
            @for (var index = 0; index < Model.ShuffledEmoji.Count; index++)
            {
                var emoji = Model.ShuffledEmoji[index];
                var uniqueDescription = $"Button #{index}";
                <div class="col-3">
                    @using (Html.BeginForm("ButtonClick", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="animal" value="@emoji" />
                        <input type="hidden" name="description" value="@uniqueDescription" />
                        <button type="submit" class="btn btn-outline-dark">
                            <h1>@emoji</h1>
                        </button>
                    }
                </div>
            }
        </div>

    </div>
<div class="row">
    <h2>Match Found: @Model.MatchesFound</h2>
    @if (Model.GameStatus == "Game Running")
    {
        <h3>Game Status: @Model.GameStatus</h3>
    }
    else if (Model.GameStatus == "Game Complete")
    {
        <h3>Game Status: @Model.GameStatus</h3>
    }
</div>
